* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}
a {
    background: #72b1e9;
    color: #fff; 
    padding: 1rem 1.5rem; 
    text-decoration: none; 
    border-radius: 4px; 
    font-size: 1.75em;
}
.promo1 {
    grid-area: promo1;
    display: grid;
    grid-template-areas: "h1 h1"
                        "img-prod list"
                         "btn-promo btn-promo";
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 600px 150px;
    overflow: hidden;
    box-sizing: border-box;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);

}
.h1 {
    grid-area: h1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-size: 70px;
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
}
.img-prod {
    
    margin-left: 50%;

    grid-area: img-prod;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.76);
}
.list {
    margin-left: 1em;
    font-size: 1.75em;
    padding-top: 3em;
    grid-area: list;
    grid-column-start: 2;
    grid-column-end: 3;
}
.list-li {
    padding-top: 1em;
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
}

.btn-promo {
    grid-area: btn-promo;
    grid-column-start: 1;
    grid-column-end: 3;

    justify-self: center;
}


.composition {
    grid-area: composition;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    display: grid;
    grid-template-areas: "ingredient1  img-composition ingredient4 "
                         "ingredient2  img-composition ingredient5"
                         "ingredient3  img-composition ingredient6"
                         "btn-composition btn-composition btn-composition";
    
    grid-template-columns: 1fr  300px 1fr;
    grid-template-rows: 250px 250px 250px 100px;
    box-sizing: border-box;
    grid-gap: 2em;


    justify-items: center;
    padding-top:4em;
}
.img-composition {
    grid-area: img-composition;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6em;

}
.img-ingredient {
    border-radius: 100px;
}
.text-ingredient {
    text-align:center;
    padding-top: 1em;
}

.ingredient1{
    grid-area: ingredient1;
}
.ingredient2{
    grid-area: ingredient2;
}
.ingredient3{
    grid-area: ingredient3;
}
.ingredient4{
    grid-area: ingredient4;
}
.ingredient5{
    grid-area: ingredient5;
}
.ingredient6{
    grid-area: ingredient6;
}
.btn-composition{
    grid-area: btn-composition;
    
    margin-left: auto;
    margin-right: auto;
}

.comment {
    grid-area: comment;
    height: 900px;
    background: rgb(120, 201, 207);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 400px 100px 150px;
    grid-template-areas: ". img-comment ."
                         "left-btn img-comment right-btn"
                         "name name name"
                         "text-comment text-comment text-comment";
     background: linear-gradient(45deg, #EECFBA, #C5DDE8);


}
.img-comment {
    width: 500px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    grid-area: img-comment;
    padding-top: 15px;
    
}
.name {
    font-size: 35px;
    text-align: center;
    padding-top: 1em;
    grid-area: name;

}


.text-comment {
    font-size: 25px;
    grid-area: text-comment;
    background: rgb(182, 178, 163);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    line-height: 2em;
    padding: 10px;
    
    text-align: center;

}


button {
    height: 10%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1em;
    
}

button .arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    transition: transform 0.3s ease-out;
    outline: none;
    display: flex;
}

#right-btn {
    margin: auto 0 auto -2em;
    grid-area: right-btn;
    z-index: 0;
    justify-self: center;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn {
    z-index: 0;
    margin: auto -2em auto 0;
    grid-area: left-btn;
    justify-self: center;
}

#left-btn .arrow {
    transform: rotate(135deg);
}





.promo2 {
    grid-area: promo2;
    display: grid;
    grid-template-areas: "img-doctor ."
                        "img-doctor list-property"
                        "list-promo2 list-promo2"
                         "btn-promo btn-promo";
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 300px 300px 200px 100px;
    overflow: hidden;
    box-sizing: border-box;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.img-doctor {
    
    margin-left: 40%;
    grid-area: img-doctor;
    margin-top: 3em;

}
.list-property {
    grid-area: list-property;
    font-size: 30px;
    margin-left: 10%;
    

} 
.list-promo2 {
    grid-area: list-promo2;
    justify-self: center;
    padding-top: 8em;

}
.list-promo2 li {
display: inline;
padding: 2em;
font-size: 25px;
}
.btn-promo2 {
    grid-area: btn-promo;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 3em;
    justify-self: center;
}




.ordering {
    grid-area: ordering;
    display: grid;
    grid-template-areas: ". h1-order h1-order ."
                        ". order-prod price-timer ."
                        ". order-prod price-timer ."
                        ". order-prod form ."
                        ". btn-order btn-order .";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 200px 200px 200px 200px 150px;
    overflow: hidden;
    box-sizing: border-box;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    grid-gap: 20px;

}
.h1-order {
    grid-area: h1-order;
    grid-column-start:2 ;
    
    margin-top: 0.5em;
    justify-self: center;
    text-align: center;
    font-size: 70px;
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);

}
.order-prod{
    grid-area: order-prod;
    margin-left: -10%;
    width: 291px;
}
.price-timer{
    grid-area: price-timer;
    display: grid;
    grid-template-areas:"price"
                        "text-timer"
                        "timer";
    grid-template-columns : 300px;
    grid-template-rows: 100px 100px 150px;
    margin-left: 30px;
}
.timer{
    grid-area: timer;
    color: crimson;
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    padding-top: 30px;
    border: 5px solid #e97272;
    border-radius: 5px; 
    font-weight: 700;
    height: 100px;

}
.text-timer{ 
    grid-area: text-timer;
    color: crimson;
    font-size: 45px;
    font-weight: 700;
}
.price {
    grid-area: price;
    display: grid;    
    grid-template-areas:"new-price old-price";
    grid-template-columns : 200px 100px;

}

.new-price{
    grid-area: new-price;
    font-size: 75px;
    font-weight: 800;
}
.new-price:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    color: #ff0000;
  }

.old-price{
    grid-area: old-price;
    text-decoration: line-through; 
    font-size: 25px;
    padding-top: 70px;
}

.form{
    grid-area: form;
    display: grid;    
    grid-template-columns : 300px;
    grid-template-rows: 50px 50px;
    margin-left: 30px;
}
.input-name {
    grid-area: input-name;
    padding: 10px;
    width: 300px;
}
.input-number {
    margin-top: 10px;
    padding: 10px;
    grid-area: input-number;
    width: 300px;

}
.btn-order {
    grid-area: btn-order;
    justify-self: center;
    
    margin-top: 3em;
}






.container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "promo1"
                         "composition"
                         "comment"
                         "promo2"
                         "ordering";
    grid-template-columns: 100% ;
    grid-template-rows: 1000px 1010px 1000px 1000px 1000px;
}
.video {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    width: 100%;

}
.video-bg {
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}
.video::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(192, 186, 186, 0.6);
    top: 0;
    left: 0;
    position: absolute;
}

@media screen and (min-width: 1024px) {
    .video {
        display: none;
    }
    .img-prod{
    margin-left: 30%;
}
.promo1 {

    grid-template-rows: 150px 500px 100px;
    }

    .img-doctor {
    
        margin-left: 0;
    }

    .list-promo2 li {
        padding: 1.5em;
        font-size: 20px;
    }

    .order-prod {
        margin-left: -40%;
    }
    
.ordering {
    grid-template-rows: 200px 200px 200px 100px 150px;
}
.btn-promo2 {
    padding-top: 1em;
}
}    
@media screen and (min-width: 768px) {

    .img-prod {
        margin-left: 30%;
    }
    .promo1 {

        grid-template-rows: 150px 500px 100px;
        }
        .text-comment {
            line-height: 1.3em;    
}
.img-doctor {
    margin-left: 0%;}

.list-promo2 li {
    display:list-item;
    padding-top: 1em;
    padding: 0;

}
.list-promo2 {
    padding-top: 3em;
}
.btn-promo2 {
    padding-top: 1em;
}
.ordering {
    grid-template-rows: 200px 200px 200px 100px 150px;
}

.order-prod {
    margin-left: -40%;
}
}
@media screen and (min-width: 375px) {
    .list {padding-top: 0em;
}
.promo2 {
    grid-template-rows: 100px 500px 250px 120px;
}
}
